*{
    font-family: 'Open Sans', sans-serif;
    
}
body{
    background: url(backgroundimg.jpg);
    background-size: cover;
}

@media only screen and (max-width: 1000px)
{
    body{
        height: 100vh;
        background: url(background_for_mbl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}